<div class="animalpicker-container">

  <div class="view-row" ng-controller="AnimalPickerCtrl">
    <animal-icon handle-click="animalClick({id: 'wolf'})" icon-url="assets/animals/wolf.png"></animal-icon>
    <animal-icon handle-click="animalClick({id: 'bear'})" icon-url="assets/animals/fox.png"></animal-icon>
    <animal-icon handle-click="animalClick({id: 'seal'})" icon-url="assets/animals/wolf.png"></animal-icon>
    <animal-icon handle-click="animalClick({id: 'fox'})" icon-url="assets/animals/fox.png"></animal-icon>
    <animal-icon handle-click="animalClick({id: 'shark'})" icon-url="assets/animals/wolf.png"></animal-icon>
  </div>

</div>