<div class="chat-container">

  <div class="chat-sidenav">
    <a ui-sref="front">Chat App</a>
    <h1> hellooo</h1>
  </div>

  <div class="chat-main">

  </div>

  <div class="chat-rightbar">

  </div>

</div>


<!--<div ng-controller="HeadCtrl">-->
  <!--<h1>{{bear}}</h1>-->
  <!--<ul ng-repeat="animal in animals | filter: { isCool: showCoolAnimals }">-->
    <!--<li>{{animal.id}} - {{animal.type}} <button ng-click="deleteAnimal(animal.id)">X</button></li>-->
  <!--</ul>-->
  <!--<input ng-model="inputAnimal">-->
  <!--<button ng-click="addAnimal(inputAnimal)">Add Animal</button>-->
  <!--<button ng-click="toggleViewCool()">Toggle Cool</button>-->
<!--</div>-->

<!--<div ng-controller="EditCtrl">-->

  <!--<div>-->
    <!--<h4>Currently Selected Animal</h4>-->
    <!--<p>Id: {{selectedAnimal.id}}</p>-->
    <!--<p>Type: {{selectedAnimal.type}}</p>-->
    <!--<p>Is Cool?: {{selectedAnimal.isCool}}</p>-->
  <!--</div>-->

  <!--<div>-->
    <!--<h4>Edit Animal</h4>-->
    <!--<input ng-model="selectedAnimal.id">-->
    <!--<input ng-model="selectedAnimal.type">-->
    <!--<input ng-model="selectedAnimal.isCool">-->
    <!--<button ng-click="saveAnimalChanges()">Save</button>-->
  <!--</div>-->

<!--</div>-->