<div class="chat-container view-row">

  <div class="chat-sidenav" ng-controller="SideNavCtrl">
    <animal-icon handle-click="animalFriendClick({id: 'shark'})" icon-url="assets/animals/wolf.png"></animal-icon>
    <chat-exit handle-click="chatExitClick()"></chat-exit>
  </div>

  <animal-chat class="view-row"></animal-chat>

  <div class="chat-friends" ng-controller="AnimalFriendsCtrl">
    <animal-icon
        iconWidth="50"
        handle-click="animalFriendClick({id: 'shark'})"
        icon-url="assets/animals/wolf.png"></animal-icon>
    <animal-icon
        iconWidth="50"
        handle-click="animalFriendClick({id: 'shark'})"
        icon-url="assets/animals/fox.png"></animal-icon>
  </div>

</div>
